/.thumbnails
/bin
/include
/data/.cache_textures
/data/.editor2
/data/.runtimes
/data/.thumbnails
/data/configs
/data/core.ung
/data/editor.cache
/data/editor2.ung
/data/root_mount.umount
/data/scripts.ung
/data/shader_d3d11.cache
/data/unigine.cache
/lib
/utils
/source/.vs/*
/source/x64/*
/source/Rollercoaster.vcxproj.user
Rollercoaster.project
launch_debug.bat
launch_editor.bat
launch_release.bat
